### Anova Test

##### Resources
###### https://www.reneshbedre.com/blog/anova.html

#### ANOVA test used to compare the means of more than 2 groups (t-test can be used to compare 2 groups)

##### ANOVA HypothesesPermalink
Null hypothesis: Groups means are equal (no variation in means of groups)
H0: μ1=μ2=…=μp
Alternative hypothesis: At least, one group mean is different from other groups
H1: All μ are not equal

In [12]:
import pandas as pd
# load data file
df = pd.read_csv("https://reneshbedre.github.io/assets/posts/anova/onewayanova.txt", sep="\t")

In [26]:
df
# df = pd.DataFrame(df)
# df

    score group
0      85     a
1      86     a
2      88     a
3      75     a
4      78     a
5      94     a
6      98     a
7      79     a
8      71     a
9      80     a
10     91     b
11     92     b
12     93     b
13     90     b
14     97     b
15     94     b
16     82     b
17     88     b
18     95     b
19     96     b
20     79     c
21     78     c
22     88     c
23     94     c
24     92     c
25     85     c
26     83     c
27     85     c
28     82     c
29     81     c
30     72     d
31     75     d
32     82     d
33     97     d
34     92     d
35     85     d
36     23     d
37     15     d
38     82     d
39     84     d

In [1]:
# reshape the d dataframe suitable for statsmodels package 
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['A', 'B', 'C', 'D'])
# replace column names
df_melt.columns = ['index', 'treatments', 'value']

# generate a boxplot to see the data distribution by treatments. Using boxplot, we can 
# easily detect the differences between different treatments
import matplotlib.pyplot as plt
import seaborn as sns
ax = sns.boxplot(x='treatments', y='value', data=df_melt, color='#99c2a2')
ax = sns.swarmplot(x="treatments", y="value", data=df_melt, color='#7d0013')
plt.show()

NameError: name 'pd' is not defined

In [28]:
df_melt

    index treatments  value
0       0          A     25
1       1          A     30
2       2          A     28
3       3          A     36
4       4          A     29
5       0          B     45
6       1          B     55
7       2          B     29
8       3          B     56
9       4          B     40
10      0          C     30
11      1          C     29
12      2          C     33
13      3          C     37
14      4          C     27
15      0          D     54
16      1          D     60
17      2          D     51
18      3          D     62
19      4          D     73

In [10]:
df

    A   B   C   D
0  25  45  30  54
1  30  55  29  60
2  28  29  33  51
3  36  56  37  62
4  29  40  27  73

In [4]:
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(df['A'], df['B'], df['C'], df['D'])
print(fvalue, float(pvalue))

17.492810457516338 2.639241146210922e-05

#### P value is significant so we apply post hoc test

In [15]:
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import numpy as np

In [21]:
df = pd.DataFrame({'score': [85, 86, 88, 75, 78, 94, 98, 79, 71, 80,
                             91, 92, 93, 90, 97, 94, 82, 88, 95, 96,
                             79, 78, 88, 94, 92, 85, 83, 85, 82, 81,
                             72, 75, 82, 97, 92, 85, 23, 15, 82, 84
                             ],
                   'group': np.repeat(['a', 'b', 'c','d'], repeats=10)}) 

tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['group'],
                          alpha=0.05)
tukey

In [22]:
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     a      b      8.4 0.6055  -9.8312 26.6312  False
     a      c      1.3 0.9974 -16.9312 19.5312  False
     a      d    -12.7 0.2561 -30.9312  5.5312  False
     b      c     -7.1 0.7222 -25.3312 11.1312  False
     b      d    -21.1  0.018 -39.3312 -2.8688   True
     c      d    -14.0 0.1829 -32.2312  4.2312  False
-----------------------------------------------------